<html>
	<head>
		<title>[FingBook] 입점 신청이 완료 되었습니다.</title>
		 <meta http-equiv="Content-Type" content="application/xhtml xml; charset=utf-8" />
	</head>
	<body>
		<!--<h1><img src="http://linksday.eumshop.co.kr/upload/layout/20130423102246.gif"></h1>-->
		<div style="padding:20px;border:5px solid #ff4560">
		<div style="background-image:url('http://222.122.20.23/upload/images/top_notxt_2.jpg'); background-repeat:repeat-x; margin-top:0px;">
		<h1><img src="http://222.122.20.23/upload/images/mail_kr.jpg"></h1>
			<div style="margin:20px;padding:30px;border:1px solid #ccc;background: #e5e5e5;">
				[FingBook] 입점 신청이 완료 되었습니다.
				<br><br>
				Fingbook의 비즈니스 파트너가 되신 것을 진심으로 환영합니다.<br />
				입점 승인 절차 진행 후, 메일을 통해 자세한 사항을 안내해 드리겠습니다. 
			</div>

			 <!-- 메일 하단 -->
			  <div style="margin-top:20px;padding:10px;border-top:1px solid  #e5e5e5;background:#f8f3f4;">
			    상호:{{__회사명__}} /{{__회사주소__}} / 대표: {{__대표자명__}}<br/>
			    사업자번호: {{__사업자번호__}} / 통신판매업신고: {{__통신번호__}} / 대표전화: {{__전화번호__}} <br/>
			    <!-- 개인정보관리책임: {{__개인정보_담당자__}}({{__개인정보_이메일__}}) <br/> -->
			    Copyright ⓒ 2015 {{__사이트주소__}} All rights reserved.
			  </div>
			  <!-- 메일 하단 -->

		</div>
	</body>
</html>