<html>
  <title>
  <!-- 메일 제목 -->
    {{__사이트이름__}} - 고객님께 드리는 최고의 {{__사이트이름__}}입니다.
  <!-- 메일 제목 -->
  </title>
  <meta http-equiv="Content-Type" content="application/xhtml xml; charset=utf-8" />
  <body>
  <!-- 메일 본문 -->
  등록된 키워드.<br>
  {{__오늘날짜__}}<br>
  {{__주문번호__}}<br>
  감사합니다. 입금확인되었습니다.
  <!-- 메일 본문 -->
  <!-- 메일 하단 -->
  <div style="padding:10px;border-top:1px solid  #e5e5e5;">
    상호:아로마리즈(주) /경기도 성남시 수정구 오야동 245-5 B동 / 대표: 박명숙<br/>
    사업자번호: 215-87-24774 / 통신판매업신고:2007-서울서초-10842 / 대표전화: 02-338-1170 <br/>
    개인정보관리책임: 김수창(aromaliz@aromalizmall.co.kr) <br/>
    Copyright ⓒ 2012 AROMALIZMALL.CO.KR All rights reserved.
  </div>
  <!-- 메일 하단 -->
  </body>
</html>