<html>
	<head>
		<title>[FingBook] {{__회원명__}}님의 임시비밀번호를 알려드립니다.</title>
		 <meta http-equiv="Content-Type" content="application/xhtml xml; charset=utf-8" />
		 <style>
			body, td, th, a, a:hover, li{font-size:12px;}
		 </style>
	</head>
	<body>
		
		<div style="border:5px solid #ff4560" >
		<div style="background-image:url('http://222.122.20.23/upload/images/top_notxt_2.jpg'); background-repeat:repeat-x; margin-top:0px;">
		<h1><img src="http://222.122.20.23/upload/images/mail_kr.jpg"></h1>
			<div style="margin:20px;padding:30px;border:1px solid #ccc;background: #e5e5e5;">
				안녕하세요, 회원님.<br/>
				FingBook의 임시비밀번호가 아래와 같이 발급되었습니다.<br/>
				<br/>
				이름 : {{__회원명__}}<br/>
				임시비밀번호 : <strong style="font-size:14px;color:#FF0000;">{{__임시비밀번호__}}</strong><br/>
				<br/>
				* 임시 비밀번호는 1회성 비밀번호입니다. 로그인 후 사용하고자 하시는 비밀번호로 수정해 주세요.<br/>
			</div>

			 <!-- 메일 하단 -->
			  <div style="margin-top:20px;padding:10px;border-top:1px solid  #e5e5e5;background:#f8f3f4;">
			    상호:{{__회사명__}} /{{__회사주소__}} / 대표: {{__대표자명__}}<br/>
			    사업자번호: {{__사업자번호__}} / 통신판매업신고: {{__통신번호__}} / 대표전화: {{__전화번호__}} <br/>
			    <!-- 개인정보관리책임: {{__개인정보_담당자__}}({{__개인정보_이메일__}}) <br/> -->
			    Copyright ⓒ 2015 {{__사이트주소__}} All rights reserved.
			  </div>
			  <!-- 메일 하단 -->
		</div>
		</div>
	</body>
</html>