<html>
  <title>
  <!-- 메일 제목 -->
    {{__사이트이름__}} - 고객님께 드리는 최고의 {{__사이트이름__}}입니다.
  <!-- 메일 제목 -->
  </title>
  <meta http-equiv="Content-Type" content="application/xhtml xml; charset=utf-8" />
  <body>
  <!-- 메일 본문 -->
  등록된 키워드.<br>
  {{__오늘날짜__}}<br>
  {{__회원명__}}님의 1:1 문의 답변입니다.
  <!-- 메일 본문 -->
  <!-- 메일 하단 -->
  <div style="padding:10px;border-top:1px solid  #e5e5e5;">
    상호:(주)에스앤텍 /경기도 성남시 분당수 야탑남로 230E-508(분당테크노파크) / 대표: 최태호<br/>
    사업자번호: 129-81-64930 / 통신판매업신고: 2004 경기성남 746호 / 대표전화: 031-705-1700 <br/>
    개인정보관리책임: 전장영 (webmaster@sntplus.co.kr )<br/>
    Copyright ⓒ 2015 http;//www.136601.com All rights reserved.
  </div>
  <!-- 메일 하단 -->
  </body>
</html>