<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$title}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="ROBOTS" content="ALL" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- 메뉴별 메타 키워드 설정 -->
	
	<!-- 공통 스타일 -->
	<link rel="stylesheet" type="text/css" href="/common/css/master.css" />

	<!-- 사이트 스타일 -->
	<link rel="stylesheet" type="text/css" href="/layout/css/html_style.css"/>

	<!-- jquery -->
	<script language="javascript" type="text/javascript" src="/common/js/jquery-1.7.2.min.js"></script>

	<!--유효성 체크-->
	<script language="javascript" type="text/javascript" src="/common/js/jquery.alphanumeric.pack.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/jquery.validate.js"></script>

	<!-- 국가별 통화 단위 표시 -->
	<script language="javascript" type="text/javascript" src="/common/js/jquery.formatCurrency-1.4.0.min.js"></script>

	<!-- eumshop 공통 코드 -->
	<script language="javascript" type="text/javascript" src="/common/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/commonReady.js"></script>

	<script type="text/javascript">
	<!--

	//-->
	</script>
</head>
<body>
	<div class="contents">
  		{@contents}
  	</div>
</body>
</html>

