
/* UI Object */
.tree{height:200px;font-size:12px;font-family:Tahoma, Geneva, sans-serif;}
.tree ul{margin:0;padding:0;list-style:none}
.tree ul ul{margin:0 0 0 -3px}
.tree li{position:relative;padding:0 0 0 22px;background:url(/shopAdmin/himg/common/line_tree.gif) no-repeat 9px 0;line-height:20px;white-space:nowrap;*zoom:1}
.tree li.last{background-position:9px -1766px}
.tree li.active a{font-weight:bold;color:#333}
.tree li.active li a{font-weight:normal;color:#767676}
.tree a{color:#767676;text-decoration:none}
.tree a:hover,
.tree a:active,
.tree a:focus{text-decoration:underline}
.tree .toggle{overflow:hidden;position:absolute;top:0;left:0;width:19px;height:19px;padding:0;border:0;background:transparent url(/shopAdmin/himg/common/btn_tree.gif) no-repeat;cursor:pointer;font-size:0;color:#fff;text-indent:19px;*text-indent:0;vertical-align:middle}
.tree .toggle.plus{background-position:5px -15px}
.tree .toggle.minus{background-position:5px 5px}
/* //UI Object */
